<link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
    <div class="col-md-4">
      <aside class="filter-section-wrapper">
        <div class="card">
          <div class="card-body">
            <h5 color="white;">Student Number : 101190394</h5>
            <div class="filter-header-wrap">
              <a *ngIf="showFilter" (click)="clearFilter()"
                >See all SpaceX Rocket Mission</a
              >
            </div>
            <div class="sub-title">
              <h4>SpaceX Year</h4>
            </div>
            <ul>
              <li
                *ngFor="let year of lauchYear; let i = index"
                (click)="filterLaunchPrograms(i, year)"
              >
                <i class="fas fa-heart"></i>
                {{ year }}
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
    <div class="col-md-8">
      <div *ngIf="!isLoading" class="row">
        <div *ngFor="let item of launchDataArray" class="col-md-4">
          <app-missiondetail [data]="item"></app-missiondetail>
        </div>
      </div>
    </div>
  </div>
</div>
